
.button {
	-fx-padding: 20px;
	-fx-font-size: 14px;
	-fx-background-color: #2E8B57;
	-fx-text-fill: #FFF;
	-fx-alignment: center;
}

.button:hover {
	-fx-background-color: #3CB371;
	-fx-text-fill: #000
}
